@import './src/scss/variables';

%ellipsis-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 20rem;
  padding-bottom: 2rem;
  font-weight: bold;
}
%arrow-button {
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  border: solid 2px currentColor;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $primary-purple;
    border: solid 2px $primary-purple;
    color: white;
  }
}
.pre-next-navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;

  .pre-link {
    border: solid 1px $primary-purple;
    padding: 0.8rem;
    transition: all ease 0.3s;
    position: relative;
    margin-left: auto;
    @extend %ellipsis-text;
    &::after {
      content: '\00bb';
      @extend %arrow-button;
      margin-right: auto;
    }
  }

  .next-link {
    border: solid 1px $primary-purple;
    padding: 0.8rem;
    transition: all ease 0.3s;
    position: relative;
    margin-right: auto;
    @extend %ellipsis-text;
    &::after {
      content: '\00ab';
      @extend %arrow-button;
      margin-left: auto;
    }
  }
}

.post {
  line-height: 1.7;
  font-size: 2rem;
  max-width: 72rem;
  margin: 0 auto;
  transform: translateX(-3rem);
  @media screen and (max-width: 760px) {
    transform: translateX(0);
    max-width: 100%;
  }

  a {
    max-width: 100%;
    overflow-wrap: anywhere;
  }

  em {
    font-size: 2rem;
  }

  blockquote {
    background-color: lightgoldenrodyellow;
    border-left: solid 5px brown;
    padding-left: 3.5rem;
    font-style: italic;
    position: relative;
    quotes: '\201c''\201d';
    border-radius: 8px;

    &::before {
      content: open-quote;
      position: absolute;
      top: 0px;
      left: 5px;
      font-size: 4rem;
      line-height: 1;
    }
    &::after {
      content: close-quote;
      position: absolute;
      bottom: 0px;
      right: 5px;
      font-size: 4rem;
      line-height: 1;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 2rem auto;
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  h1 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }

  h2 {
    border-bottom: solid 2px black;
  }

  section {
    margin-bottom: 3rem;
  }

  p {
    margin: 2rem 0;
  }
}

.post-title {
  font-size: 3.5rem;
  text-align: center;
}

.image-wrap {
  width: calc(100% + 10rem);
  transform: translateX(-5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vw;
  border-radius: 10px;
  overflow: hidden;

  @media screen and (max-width: 980px) {
    width: 100%;
    transform: translate(0);
  }

  img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post-header {
  margin-bottom: 4rem;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;

  & > *:first-child {
    margin-right: 2rem;
  }
}

.avatar-wrap {
  width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 1rem;
  padding: 1rem;

  & > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
.iframe-centered {
  margin: 0 auto;
  width: fit-content;
  max-width: 350px;
  overflow: hidden;
}
pre {
  max-width: 60vw;
}
code {
  font-size: 1.8rem !important;
  @media screen and (max-width: 980px) {
    font-size: 1.6rem !important;
  }

  .tag {
    padding: 0;
    background: none;
    font-weight: normal;
    text-transform: none;
    cursor: text;
  }
}
.token.comment {
  font-style: italic;
  display: inline-block;
  margin-top: 10px;
}
.image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & > img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
.should-not-label {
  color: red;
  font-weight: bold;
  border: solid 1px red;
  padding: 0.5rem;
  background-color: lightpink;
}
.problem-label {
  color: blue;
  font-weight: bold;
  border: solid 1px blue;
  padding: 0.5rem;
  background-color: lightblue;
}
.solution-label {
  color: green;
  font-weight: bold;
  border: solid 1px green;
  padding: 0.5rem;
  background-color: lightgreen;
}
.inline-code {
  color: gray;
  font-style: italic;
  background-color: lightgray;
  padding: 0 0.5rem;
  display: inline-block;
  border-radius: 5px;
}
.image-description {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  background-color: lightgray;
}
.image-description-wrapper {
  padding: 0.5rem;
  box-shadow: rgba(19, 15, 235, 0.1) 1px 2px 20px;
}
