@import '/src/scss/variables';

%ellipsis-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 20rem;
  padding-bottom: 2rem;
  font-weight: bold;
}
%arrow-button {
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border: solid 2px currentColor;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $primary-purple;
    border: solid 2px $primary-purple;
    color: white;
  }
}
.pre-next-navigator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;

  .pre-link {
    position: relative;
    margin-left: auto;
    @extend %ellipsis-text;
    &::after {
      content: '\00bb';
      @extend %arrow-button;
    }
  }

  .next-link {
    position: relative;
    margin-right: auto;
    @extend %ellipsis-text;
    &::after {
      content: '\00ab';
      @extend %arrow-button;
    }
  }
}

.post {
  line-height: 1.7;
  font-size: 2rem;
  max-width: 72rem;
  margin: 0 auto;
  transform: translateX(-3rem);

  em {
    font-weight: bold;
    font-size: 2.1rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 2rem auto;
    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  h1 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }

  h2 {
    border-bottom: solid 2px black;
  }

  section {
    margin-bottom: 3rem;
  }

  p {
    margin: 2rem 0;
  }
}

.post-title {
  font-size: 3.5rem;
  text-align: center;
}

.image-wrap {
  width: calc(100% + 10rem);
  transform: translateX(-5rem);
  height: 30vw;
  border-radius: 10px;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post-header {
  margin-bottom: 4rem;
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 4rem;

  & > *:first-child {
    margin-right: 2rem;
  }
}

.avatar-wrap {
  width: 30rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  margin-top: 1rem;
  padding: 1rem;

  & > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
