.main__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  & > *:first-child {
    flex: 1;
  }

  & > *:not(:last-child) {
    margin-right: 3rem;
  }
}

.register-bar {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  width: 100%;
  justify-content: space-between;

  & > span {
    font-size: 1.6rem;
    line-height: 1.7;
    font-weight: bold;
  }

  form {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: solid 1px black;
    box-shadow: rgba(19, 15, 235, 0.1) 1px 2px 20px;
    overflow: hidden;

    input {
      padding: 10px 8px;
      padding-right: 50px;
      border: none;
      margin-right: -48px;
      min-width: 28rem;
      &:focus {
        outline: none;
      }
    }

    button {
      border: none;
      background-color: white;
      margin-right: 10px;
      height: 100%;
      display: inline-block;
      font-weight: bold;
      cursor: pointer;
      font-size: 1.6rem;
      white-space: pre;
    }
  }
}

.side-bar {
  border: solid 1px black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  z-index: 0;

  & > *:not(:first-child) {
    margin-bottom: 2rem;
  }

  &__filter-title {
    font-weight: bold;
    font-size: 1.8rem;
    transform: translateY(calc(-50% - 1rem));
    margin: 0 -5px;
    padding: 0 5px;
    background: white;
    display: inline-block;
  }
}

.tags-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox']:checked + label.tag {
    &::after {
      content: '';
      background-color: red;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 3px;
      left: 3px;
    }
  }

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.tag {
  padding: 1rem 0.5rem;
  background: rgb(245, 245, 211);
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 1px;

  &::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10%;
    width: 90%;
    height: 50%;
    background: rgba(0, 0, 0, 0.3);
    transform-origin: left;
    transform: skewY(5deg);
    z-index: -1;
    filter: blur(5px);
  }

  &:first-child::before {
    transform: skewY(10deg);
  }
}

.search {
  padding: 5px;
}

.articles-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  & > *:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.article-card {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: rgba(19, 15, 235, 0.1) 1px 2px 20px;
  border-radius: 10px;
  height: 15vw;
  max-height: 20rem;
  min-height: 15rem;
  overflow: hidden;

  &__image-wrap {
    height: 100%;
    flex: 1;
    & > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    flex: 2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    a,
    a:active,
    a:visited {
      text-decoration: none;
      color: black;
    }
  }

  &__header {
    font-size: 2.3rem;
    border-bottom: solid 1px lightgray;
  }

  &__excerpt {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 1.5rem 0;
  }

  &__footer {
    margin-top: auto;
    font-size: 1.1rem;
    .tag {
      font-size: 1rem;
      padding: 5px;
      margin-left: 1.5rem;
      cursor: text;

      &::after {
        display: none;
      }
    }
  }
}
